.driverStandingWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;

    h1 {
        color: red;
        font-size: 2vw;
        margin: 0;
    }

    h2 {
        color: rgb(0, 0, 0);
        font-size: 3vw;
        margin: 0;
        font-weight: normal;
    }

    .mainDrivers__wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 10vw;

        .card {
            background-color: red;
            border-radius: 50%;
            width: 15vw;
            height: 15vw;
            margin: 2vw;

            .card__img {
                .circle {
                    position: absolute;
                    border-radius: 50%;
                    height: 3vw;
                    width: 3vw;
                    background-color: rgb(255, 255, 255);
                    margin-left: 0vw;
                    text-align: center;
                }

                h3 {
                    color: rgb(255, 0, 0);
                    font-size: 2vw;
                }

                img {
                    clip-path: circle(50% at center center);
                    width: 15vw;
                }
            }

            .card__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {

                    font-size: 1vw;
                }

                h3 {
                    color: rgb(0, 0, 0);
                    font-size: 1.5vw;
                }

                img {
                    width: 10vw;
                }
            }


        }
    }
}