.driver__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    ;
}

.driverInfoResult__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 5vw;
    margin-top: 5vw;

    .driver__img {
        img {
            margin-bottom: -10PX;
            width: 10vw;
        }

        h1 {
            font-size: 1.5vw;
            color: black;
        }
    }

    .driver__text {
        background-color: black;
        border-radius: 1vw;
        padding: 1vw 3vw 1vw;
        margin: 0 1vw 1vw 1vw;

        h1 {
            color: rgb(255, 255, 255);
            font-size: 1vw;
        }
    }

    .driver__result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .main__result {
            margin: 2vw;


            h2 {
                margin: 0;
                color: rgb(255, 255, 255);
                font-size: 1vw;
            }

            .result__year h1 {
                font-size: 2vw;
                color: rgb(0, 0, 0);
            }

            .driver__result__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                border-radius: 2vw;
                padding: 1vw;
            }
        }


    }

}