.driverInfo__wrapper {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    padding: 5vw;

    .driver__image {
        img {
            width: 20vw;
            background-color: aliceblue;
            border-radius: 50%;
        }
        h1 {
            font-size: 2vw;
        }
        a {
            border-bottom: 3px solid #ff0000;
            font-size: 2vw;
            transition: all 0.25s linear;
            position: relative;
            color: rgb(255, 255, 255);
            margin: 0;
            text-decoration: none;

        }

        a:before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #61a3ff;
            position: absolute;
            left: 0;
            bottom: -3px;
            transform-origin: left;
            transform: scale(0);
            transition: 0.25s linear;
        }

        a:hover:before {
            transform: scale(1);
        }
    }

    .driver__info {

        h2 {
            color: rgb(255, 255, 255);
            font-size: 2vw;
            font-weight: normal;
        }
    }
}

@media (max-width: 640px) {
    .driverInfo__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .driver__image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .driver__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


}