body {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
    background: rgb(156, 26, 26);
    background: radial-gradient(circle, rgb(184, 39, 39) 0%, rgba(0, 0, 0, 1) 100%) ;
    display: flex;
    justify-content: center;

    .container {
        max-width: 1200px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p{
        font-family: Poppins;
        color: white;
        z-index: 1;
    }
}