body {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
    background: rgb(255, 255, 255);

    display: flex;
    justify-content: center;

    .container {
        max-width: 1200px;
    }

    .bg-image {
        background-image: url(./img/bg.jpg);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: Poppins;
        color: white;
        z-index: 1;
    }
}